<div class="body">
    <div class="container restauratantInfo">
        <div class="row">
            <ng-container>
                <div class="card col-lg-2 mt-2">
                    <img src=".//src//assets//Restaurants//{{restauratantInfo.restaurantImage}}" alt="">

                    <h1>{{restauratantInfo.restaurantName}} Restaurant</h1>
                    <p>{{restauratantInfo.location}}</p>
                    <p>Rating : <small class="badge bg-info text-white">{{restauratantInfo.rating}}☆</small> </p>
                </div>
            <ng-container *ngFor="let item of restauratantInfo.cuisine">
              <div class="card col-lg-2 ">
                <h1>{{item.cuisineName}}</h1>
                  <img src=".//src//assets//Cuisines//{{item.cuisineImage}}" >
                  <p>{{item.price}} Rs</p>
                   <button mat-raised-button color="warn" (click)="addFavCuisine(item)"
                    class="text-center" style="width: 1cm;">
                    <mat-icon>shopping_cart</mat-icon>
                  </button>
                </div>
              </ng-container>
            </ng-container>
        </div>
    </div>
</div>
