.center img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    height: 162px;
    width: 400px;
    margin: 20px 0px;
}

h4,h6 {
    font-weight: 400;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.center .btn {
    font-size: 14px;
    margin-top: 20px;
    font-weight: 400;
    padding: 12px 72px;
    border-radius: 3px ;
}

.container {
    border-radius: 10px;
    border : 1px solid black
}

.row img {
    border-radius: 5px;
    width: 200px;
    height: 180px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.row img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

mat-card-actions > button {
    margin: 5px;
}

.demo-table {
    width: 100%;
}

.table{
    justify-content: center;
    width: 500px;
    margin-left: 500px;
}
